* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana;
}

body {
  background-color: rgba(245, 245, 245, 1)
}


.Navbar {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: snow;
  box-shadow: 1px 3px 7px 3px #ccc;
  width: 100%;
  height: 60px;
  margin-inline: auto;
  position: relative;
  padding-inline: 100px;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 0.9rem;
}

.Navbar .Main_logo li{
  color: orange;
  font-weight: 500;
  font-size: 1rem;
}

.Navbar .Nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.Navbar .Nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.Navbar .login {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: black;
}

.Navbar .login .login-button {
  color: white;
  border-style: none;
  padding: 10px 26px;
  background-color: transparent;
}

.Navbar .Nav-menu .Nav-list li svg {
  font-size: 1.6rem;
}

.Main-Section {
  display: grid;
  grid-template-columns: repeat(2,1fr);
   justify-items: center; 
   align-items: center; 
  max-width: 1600px;
  margin-inline: auto;
  height: 600px;
  width: 100%;
  padding-inline: 100px;
  background-color: snow;
}

.First-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
  width: 100%;
}

.First-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-weight: 600;
  font-size: 1.7rem;
  color: #555;

}

.First-container h2 p {
  color: orange;
  font-size: 2.2rem;
  letter-spacing: -0.5px;
  font-weight: 500;
}

.First-container p {
  font-size: 1rem;
  letter-spacing: -0.4px;
  line-height: 19px;
  color: #2d2d2d;
}


.Main-Section .Second-Container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72%;
  width: 87%;
}

.Main-Section .Second-Container .img{
  background-image: url('../public/Image/istockphoto-1388117846-612x612.jpg');
  background-repeat: no-repeat;
 background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.Arival-button {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Arival-button p {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  /* color: transparent;
  -webkit-text-stroke: 1px #000; */
}

.Arival-button button {
  padding: 12px 34px;
  border-style: none;
  background-color: #131313;
  color: #FFFF;
  font-weight: 600;
  border-radius: 55px;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
}


.Feature-section {
  max-width: 1600px;
  margin-inline: auto;
  height: 300px;
  width: 100%;
  padding-inline: 100px;
  background-color: snow;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
}

.Feature-section .Delivery-Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 220px;
  width: 77%;
  background-color: rgba(220, 217, 217, 0.3);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.Feature-section .Second-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  width: 77%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.Feature-section .Second-content .Money-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background-color: rgba(220, 217, 217, 0.3);
  padding: 10px 17px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.Feature-section .Second-content .Shield-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background-color: rgba(220, 217, 217, 0.3);
  padding: 10px 17px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}




.Feature-section .Safety-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 220px;
  width: 77%;
  background-color: rgba(220, 217, 217, 0.3);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.Feature-section #icon {
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: snow;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.Feature-section .icon #logo {
  font-size: 1.9rem;
}

.Feature-section .Delivery-Section:hover {
  box-shadow: 1px 1px 10px 4px #ccc;
}

.Feature-section .Money-section:hover {
  box-shadow: 1px 1px 10px 4px #ccc;
}

.Feature-section .Shield-section:hover {
  box-shadow: 1px 1px 10px 4px #ccc;
}

.Feature-section .Safety-section:hover {
  box-shadow: 1px 1px 10px 4px #ccc;
}

.Company-Section {
  max-width: 1600px;
  margin-inline: auto;
  padding-block: 40px;
  width: 100%;
  background-color: snow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Company-Section p {
  font-size: 1rem;
}

.Company-Section .Company-logo .img-1 {
  height: 95px;
  width: 175px;
  background-position: center;
  background-color: snow;
  background-size: cover;
  background-image: url('../public//Image/flipkart-logo-39906.png');
}


.Company-Section .Company-logo .img-3 {
  height: 95px;
  width: 174px;
  background-position: center;
  /* background-color: snow; */
  background-size: cover;
  background-image: url('../public//Image/meesho-seeklogo.svg');
}



.Company-Section .Company-logo .img-4 {
  height: 90px;
  width: 174px;
  background-position: center;
 object-fit: cover;
  background-image: url('../public//Image/logo-myntra-41464.png');
}


.Company-Section .Company-logo .img-5 {
  height: 95px;
  width: 175px;
  background-position: center;
  background-color: snow;
  background-size: cover;
  background-image: url('../public//Image/vecteezy_amazon-logo-png-amazon-icon-transparent-png_19766240.png');
}

.Company-Section .Company-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.Footer {
  width: 100%;
  max-width: 1600px;
  padding-block: 70px;
  margin-inline: auto;
  background-color: #131313;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  color: white;
  padding-inline: 100px;
}

.Footer .Footer-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.Footer .Footer-content :first-child {
  font-size: 1.5rem;
  color: orange;
}

.Footer .Footer-content p {
  font-size: 0.9rem;
}


.Footer .Footer-Feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.Footer .Footer-Feature p {
  font-size: 0.9rem;
}


.Footer .Footer-Follow {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.Footer .Footer-Follow .Footer-Follow-icon {
  display: flex;
  gap: 10px;
}

.Footer .Footer-Follow .Follow-icon {
  height: 40px;
  width: 40px;
  background-color: red;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.Footer .Footer-Contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

.Footer .Footer-Contact p {
  font-size: 0.9rem;
}

.Footer .Footer-Contact #email {
  padding: 7px 17px;
  border: none;
  outline: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.hr {
  color: white;
  width: 100%;
  background-color: #bcbbbbe7;
  height: 2px;
  max-width: 1600px;
  margin-inline: auto;

}

.Footer-Last-Section {
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  height: 70px;
}

.Footer-Last-Section p {
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.Footer-Last-Section .P {
  font-size: 1rem;
  font-weight: 500;
  color: orange;
}


.Error-Container {
  height: 100vh;
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 120px;
  gap: 20px;
  background-color: #2d2d2d;
}

.Error-Container h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #FFFF;
}

.Error-Container p {
  font-size: 1.2rem;
  color: #FFFF;
}

.Error-Container button {
  margin-top: 24px;
  height: 40px;
  width: 170px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/*  loader    */

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.loader {
  border: 2px solid;
  border-color: transparent #2d2d2d7f;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent rgba(255, 255, 255, 1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*  loader    */

.product-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  gap: 20px;
  padding-inline: 100px;
  margin-top: -24px;
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  height: 400px;
  background-color: snow;
}


.Product-heading {
  background-color: snow;
  max-width: 1600px;
  margin-inline: auto;
  font-weight: 600;
  color: #FFFF;
  -webkit-text-stroke: 1px #2d2d2d;
  font-size: 2.5rem;
  padding-inline: 100px;
  padding-top: 40px;
}

.Main-container {
  position: relative;
  height: auto;
  width: 300px;
  position: relative;
  background-color: #bbb6b683;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.Main-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Main-container .caption {
  position: absolute;
  background-color: #bfbbbbad;
  color: black;
  top: 20px;
  right: 50px;
  padding: 7px 30px;
  border-radius: 50px;
  z-index: 20;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.Main-container .card-data {
  padding-inline: 20px;
  padding-bottom: 5px;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Main-container .card-data p:first-child {
  font-size: 1.1rem;
}

.Main-container .card-data p:last-child {
  font-size: 0.8rem;
}

.Main-container .hover {
  position: absolute;
  width: 300px;
  height: 235px;
  z-index: 10;
  margin-right: 100px;
}

.Main-container .hover:hover {
  background-color: #131313;
  opacity: 0.2;
}


.SingleProduct-heading {
  max-width: 1600px;
  margin-inline: auto;
  width: 100%;
  height: 50px;
  background-color: snow;
  color: #0078d4;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-inline: 100px;
  gap: 7px;
}

.SingleProduct-heading .home-icon {
  font-size: 1.2rem;
}

.SingleProduct-heading:last-child {
  font-size: 1.3rem;
}


.singleProduct-container {
  padding-top: 20px;
  height: auto;
  width: 100%;
  background-color: snow;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  gap: 45px;
  padding-inline: 80px;
  max-width: 1600px;
  margin-inline: auto;
}


.singleProduct-container .image-section {
  height: 80%;
  margin-block: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.image-section .side-image {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-block: auto;
}

.image-section .side-image .image {
  height: 100px;
  width: 130px;
  object-fit: cover;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.image-section .side-image .image:hover {
  scale: 1.1;
}

.image-section .main-image {
  height: 60%;
  width: 100%;
  margin-block: auto;
  width: 100%;
}

.image-section .main-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.singleProduct-container .product-details-section {
  height: auto;
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.singleProduct-container .product-details-section .singleProduct-name {
  font-size: 2.2rem;
  color: #2d2d2d;
  font-weight: 500;
}

.singleProduct-container .product-details-section .singleProduct-customer-view {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.singleProduct-customer-view .singleProduct-stars span {
  font-size: 1.1rem;
  color: darkorange;
}

.singleProduct-customer-view .singleProduct-review {
  font-size: 0.9rem;
  font-family: 500;
  color: #131313;
}

.singleProduct-container .product-details-section .singleProduct-Actual-price {
  font-size: 14px;
  color: #2d2d2d;
}


.singleProduct-container .product-details-section .singleProduct-price {
  font-size: 15px;
  color: #0078d4;
}

.singleProduct-container .product-details-section .singleProduct-description {
  font-size: 15px;
  width: 85%;

}

.singleProduct-container .product-details-section .singleProduct-feature {
  height: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  justify-items: center;
  align-items: center;
}

.singleProduct-feature .feature-Delivery {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.singleProduct-feature .feature-Delivery .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: rgba(237, 234, 234, 0.4);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.feature-Delivery .icon:first-child {
  font-size: 1.5rem;
  color: rgba(200, 197, 197, 1);
}


.singleProduct-feature .feature-Delivery p {
  font-size: 13px;
  font-weight: 500;
}

.singleProduct-container .singleProduct-stock {
  display: flex;
  gap: 4px;
  font-size: 15px;
  color: #676565b7;
}

.singleProduct-container .singleProduct-stock p {
  color: black;
  font-size: 1rem;
}

.singleProduct-container .singleProduct-company {
  display: flex;
  gap: 4px;
  font-size: 15px;
  color: #676565b7;
}

.singleProduct-container .singleProduct-company p {
  color: black;
  font-size: 1rem;
  text-transform: capitalize;
}

.singleProduct-container .line {
  border: 0.1rem solid #676565bc;
}

.singleProduct-container .SingleProduct-color {
  display: flex;
  gap: 8px;
  justify-content: start;
  align-items: center;
}

.singleProduct-container .SingleProduct-color .color-green {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleProduct-container .SingleProduct-color .tick:hover {
  color: #2d2d2d;
  cursor: pointer;
  scale: 2;
  font-weight: 400;
}

.singleProduct-container .SingleProduct-color .tick {
  font-size: 1rem;
  color: white;
  font-weight: 600;
}



.singleProduct-container .SingleProduct-color .color-yellow {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singleProduct-container .SingleProduct-color .color-gray {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SingleProduct-add-to-card-section {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 30px;
  padding-top: 10px;
}

.SingleProduct-add-to-card-section .Increment-button {
  font-size: 1.4rem;
  cursor: pointer;

}

.SingleProduct-add-to-card-section p {
  font-size: 1.2rem;
}

.SingleProduct-add-to-card-section .decrement-button {
  font-size: 1.7rem;
  cursor: pointer;

}

.singleProduct-container .add-to-card-button {
  width: 165px;
  height: 40px;
  background-color: #0078d4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.image {
  width: 100%;
  height: inherit;
  background-size: cover;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.image-slider-container {
  margin-inline: auto;
  max-width: 1600px;
  height: 370px;
  position: relative;
  padding-inline: 100px;
  background-color: snow;
}

.image-slider {
  width: 100%;
  height: inherit;
}

.slider-button {
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -200px;
  padding-inline: 50px;
}

button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.prev-btn {
  margin-right: 20px;
}

.next-btn {
  margin-left: 20px;
}



/* .image-slider{
  height: 370px;
  width: 100%;
  background-color: pink;
  padding: 20px;
  position: relative;
  margin: 20px 0px;
}

.image-slider .image-1{
  background-image: url("https://api.unsplash.com/");
  
 height: 100%;
 width: 100%;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 position: absolute;
 top: 0;
 left: 0;
}


.image-slider .image-2{
 height: 100%;
 width: 100%;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 position: absolute;
 top: 0;
 left: 0;
}

.image-slider .button{
  background-color: red;
  z-index: 20;
  position: relative;
  display:flex;
  justify-content: space-between;
  margin-top: 60px;

} */

.about-container {
  padding: 50px 20px;
  text-align: center;
}

.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.8;
}

.about-content h3 {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

.about-content ul {
  list-style-type: none;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 0;
}

.about-content ul li {
  margin: 12px 0;
}

.about-content ul li strong {
  color: #e74c3c;
}



.filter-column {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  background-color: snow;
  padding-inline: 100px;
}


.filter-column .Product-section .Product-list {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  justify-items: center;
  align-items: center;
  gap: 14px;
  padding-top: 16px;
}

.filter-column .Product-section .Product-list #single-product-link .Main-container {
  width: 240px;
}

.filter-column .Product-section .Product-list #single-product-link .Main-container .caption {
  padding: 4px 20px;
  right: 25px;
  top: 15px;
  background-color: rgba(204, 204, 204, 0.6);
  text-transform: capitalize;
  color: #131313;
}

.filter-column .Product-section .Product-list #single-product-link .Main-container .card-data p:first-child {
  font-size: 1rem;
}


.Product_Container_List_view .List_view{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
  
  .Product_Container_List_view{
    margin-bottom: 50px;
   height: 200px;
   width: 55vw;
   display: flex;
   justify-content: center;
   align-items: center;
  gap: 10px;
  }

  .Product_Container_List_view figure{
    width: 130%;
    height:100%;
  }

  .Product_Container_List_view p:nth-child(3){
    font-size: 14px;
    color: #555;
    line-height: 16px;
  }

 .Product_Container_List_view  .Product_detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
 }

 .Product_Container_List_view .Product_detail .name, .price{
  display: flex;
  gap: 4px;
  color: #847d7deb;
 }

 .Product_Container_List_view .Product_detail .name p{
  display: flex;
  gap: 4px;
  color: #2d2d2d;
 }

 .Product_Container_List_view .Product_detail .price p{
  display: flex;
  gap: 4px;
  color: #2d2d2d;
 }




 .Product_Container_List_view .Product_detail .btn{
  padding: 10px 35px;
  margin-top: 15px;
  border-radius: 44px;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  -ms-border-radius: 44px;
  -o-border-radius: 44px;
}